/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.roboto-mono-<uniquifier> {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} 

.bad-script-regular {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
}

*/
.board {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player,
.gameDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.active {
    border: 1px solid red;
}
